html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.odd {
background-color: #F7F9FA;
}
.inputEvaluation {
  min-width : 60px;
}